.card {
	border: 1px solid #dfe0e0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

	&--bg-blue {
		background-color: #52a4fc;

		@mixin atMedium {
			margin-bottom: 1rem;
		}
	}

	&__content {
		padding: 0 1rem;
	}

	&__title {
		font-size: 3rem;
		margin: 2rem 0;

		& a {
			color: $mainDark;
			text-decoration: none;

			&:hover {
				color: $mainBlue;
			}
		}

		&--author-page {
			text-align: center;
			font-weight: 400;
			margin: 2rem 0 1rem 0;
			color: $mainDark;
		}
	}

	&__author {
		font-size: 1.4rem;
		color: $muted;
		margin: 2rem 0;

		& a {
			color: $muted;
			text-decoration: none;

			&:hover {
				color: $mainBlue;
			}
		}

		&--author-page {
			text-align: center;
			font-size: 2rem;
			color: white;
			margin: 1rem 0;
		}
	}

	&__text {
		color: $mainDark;
		margin: 2rem 0;
		font-size: 1.6rem;
		line-height: 2rem;

		& a {
			color: $mainBlue;
			text-decoration: none;

			&:hover {
				color: $muted;
			}
		}

		&--author-page {
			text-align: center;
			font-size: 1.6rem;
			color: #d6e9fd;
		}
	}

	&__photo {
		width: 20rem;
		height: 20rem;
		overflow: hidden;
		border-radius: 10rem;
		margin: 0 auto;
		position: relative;
		top: -10rem;
		margin-bottom: -10rem;
		border: 10px solid $primaryBlue;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
		& img {

		}
	}

	&__social-icons {
		margin: 2rem 0;
		display: flex;
		justify-content: center;

		& a {

			&:not(:last-child) {
				margin-right: 2rem;
			}
		}

		& span {
			display: block;
		}
	}
}