.card {
	border: 1px solid #dfe0e0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

	/*
	transition: transform .3s;

	&:hover {
		transform: translateY(-2.5rem) scale(1.03);
	}

	*/

	&__content {
		padding: 0 1rem;
	}

	&__title {
		font-size: 3rem;
		margin: 2rem 0;

		& a {
			color: $mainDark;
			text-decoration: none;

			&:hover {
				color: $mainBlue;
			}
		}
	}

	&__author {
		font-size: 1.4rem;
		color: $muted;
		margin: 2rem 0;

		& a {
			color: $muted;
			text-decoration: none;

			&:hover {
				color: $mainBlue;
			}
		}
	}

	&__text {
		color: $mainDark;
		margin: 2rem 0;
		font-size: 1.6rem;
		line-height: 2rem;
	}
}