.primary-nav {

	@mixin atMedium {
		display: block;
	}
	
	ul {
		display: flex;
		list-style-type: none;
		align-items: center;
		flex-direction: column;


		@mixin atMedium {
			flex-direction: row;
		}
	}

	li {
		margin-top: 2.5rem;

		@mixin atMedium {
			margin-left: 2rem;
			margin-top: 0;
		}

		&.active a {
			color: white;
		}
		
	}

	a {
		text-decoration: none;
		font-size: 1.8rem;
		text-transform: uppercase;
		font-weight: 300;
		color: $primaryBlue;
		transition: color .3s ease-out;

		&:hover {
			color: white;
		}
	}
}